<div class="container py-4 rounded h-100 body">
  <div class="row">
    <div class="col"></div>
    <div class="col-9">
      <article class="bg-body-tertiary rounded p-4 px-5">
        <div class="row mb-4">
          <div class="col-12 text-center">
            <h1 class="title">Producto: {{ currentProduct.name }}</h1>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <h2 class="h3 text-body-tertiary">
              Proveedor: {{ currentProduct.suplier }}
            </h2>
          </div>
          <div class="col text-end">
            <h2 class="h3 text-body-tertiary">
              Categoría: {{ currentProduct.category }}
            </h2>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <div class="bg-white p-3 rounded border border-secondary-subtle">
              <p>{{ currentProduct.description }}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-body-tertiary">Código: {{ currentProduct.code }}</p>
          </div>
          <div class="col text-end">
            <p class="h2 text-body-secondary">
              {{ currentProduct.price | currency : "USD" }}
            </p>
          </div>
        </div>
        <div class="row"></div>
      </article>
    </div>
    <div class="col"></div>
  </div>
</div>
