<div class="container body py-4 px-5 rounded">
  <section class="row">
    <div class="col me-5">
      <article class="bg-light-subtle rounded p-4">
        <form #productForm="ngForm" (ngSubmit)="addProduct()">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="h3 title">Añadir productos</h2>
            </div>
          </div>
          <div class="mb-1">
            <label for="supliers-list" class="form-label">Proveedor</label>
            <select
              name="suplier"
              #suplier="ngModel"
              [(ngModel)]="currentPurchaseOrder.suplierId"
              class="form-select"
              [disabled]="isSuplierSelected"
            >
              <option
                value="{{ suplier.id }}"
                *ngFor="let suplier of supliersList"
              >
                {{ suplier.brand }}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <label for="product-list" class="form-label">Producto</label>
            <select
              name="product"
              #product="ngModel"
              [(ngModel)]="currentProduct.productId"
              class="form-select"
            >
              <option
                value="{{ productAdd.id }}"
                *ngFor="let productAdd of getSuplierProducts(suplier.value)"
              >
                {{ productAdd.name }}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <div class="row justify-content-around mb-3">
              <div class="col-4">
                <label for="product-price" class="form-label"
                  >Precio Unitario</label
                >
                <input
                  type="number"
                  class="form-control"
                  [value]="getProductPrice(product.value)"
                  disabled
                />
              </div>
              <div class="col-4">
                <label for="product-quantity" class="form-label"
                  >Cantidad</label
                >
                <input
                  type="number"
                  name="quantity"
                  [(ngModel)]="currentProduct.productQuantity"
                  #quantity="ngModel"
                  min="1"
                  [ngClass]="quantity.errors ? 'is-invalid' : ''"
                  class="form-control"
                />
                <div class="form-text" *ngIf="isProductInvalid">
                  <p>Debe ser un número mayor de 0.</p>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center">
            <div class="col-6 text-center">
              <button class="btn btn-secondary" type="submit">
                Cargar Producto
              </button>
            </div>
          </div>
        </form>
        <div class="row m-4 py-2 body rounded" *ngIf="isProductAdded">
          <div class="col"></div>
          <div
            class="col-8 rounded text-center py-2 align-middle"
            id="product-added"
          >
            <p class="my-0">Producto añadido con éxito!</p>
          </div>
          <div class="col"></div>
        </div>
      </article>
    </div>
    <!-- <div class="col-1"></div> -->
    <div class="col-6">
      <article class="bg-light-subtle rounded p-4">
        <form #purchaseForm="ngForm" (ngSubmit)="savePurchase()">
          <fieldset class="px-4">
            <div class="text-center my-4">
              <h1 class="h3 title">Nueva orden de compra</h1>
            </div>
            <hr />
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label class="form-label">Fecha emisión</label>
                  <input
                    type="date"
                    name="dateEmited"
                    #dateEmited="ngModel"
                    [(ngModel)]="currentPurchaseOrder.dateEmited"
                    class="form-control"
                    disabled
                  />
                </div>
                <div class="col">
                  <label class="form-label">Fecha entrega</label>
                  <input
                    type="date"
                    name="dateArriving"
                    #dateArriving="ngModel"
                    [(ngModel)]="currentPurchaseOrder.dateArriving"
                    class="form-control"
                    [min]="getMinDateShippingTemplate()"
                  />
                  <div class="form-text" *ngIf="isDateInvalid">
                    <p>Debe seleccionar una fecha de entrega válida.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Aclaraciones</label>
              <textarea
                name="shipping-requirement"
                class="form-control"
                #shippingRequirements="ngModel"
                [(ngModel)]="currentPurchaseOrder.shippingRequirements"
                minlength="1"
                maxlength="500"
              ></textarea>
              <div class="form-text" *ngIf="isDescriptionInvalid">
                <p>Debe tener entre 1 y 500 caracteres.</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p>Productos</p>
              </div>
              <div class="col text-end">
                <p>Precio</p>
              </div>
            </div>
            <div class="row">
              <div class="col" id="current-order"></div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div
                  class="row"
                  *ngFor="let productView of currentPurchaseOrder.products"
                >
                  <div class="col">
                    {{ productView.productName }} ({{
                      productView.productQuantity
                    }})
                  </div>
                  <!-- <div class="col"><hr /></div> -->
                  <div class="col text-end">
                    {{
                      getProductPrice(productView.productId) *
                        productView.productQuantity
                    }}
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>Total</p>
                  </div>
                  <div class="col"><hr /></div>
                  <div class="col text-end" id="purchase-total">
                    <p>{{ currentPurchaseOrder.total }}</p>
                  </div>
                </div>
              </div>
              <div class="form-text" *ngIf="isCartEmpty">
                <p>Debe añadir al menos un producto.</p>
              </div>
            </div>
          </fieldset>
          <div class="row m-4">
            <div class="col text-center">
              <button class="btn btn-secondary me-1" type="submit">
                Confirmar compra
              </button>
              <button
                class="btn btn-secondary ms-1"
                type="button"
                (click)="emptyCart()"
              >
                Eliminar productos
              </button>
            </div>
          </div>
        </form>
      </article>
    </div>
  </section>
  <section>
    <shared-modal-saved
      *ngIf="flagNewPurchaseOrderCreated"
      [modalData]="{
        message: 'Órden de compra cargada con éxito.',
        path: '/purchase-orders'
      }"
    ></shared-modal-saved>
  </section>
</div>
