<section class="row">
  <div class="col d-none d-sm-block"></div>
  <div class="col col-sm-9 col-md-8 p-5 body">
    <article class="bg-light-subtle rounded p-4 pt-2">
      <div class="row">
        <nav
          class="col"
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item">
              <a routerLink="/products">Lista</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <span *ngIf="!isUpdating">Nuevo</span
              ><span *ngIf="isUpdating">Actualizar</span> producto
            </li>
          </ol>
        </nav>
      </div>
      <form #myForm="ngForm" (ngSubmit)="saveProduct()">
        <fieldset class="px-4">
          <div class="text-center my-4">
            <h1 class="h3 title">
              <span *ngIf="!isUpdating">Cargar nuevo</span
              ><span *ngIf="isUpdating">Actualizar</span> producto
            </h1>
          </div>
          <hr />
          <div class="mb-3">
            <label class="form-label"
              >Proveedor <span class="fw-light">*</span></label
            >
            <select
              name="supplier"
              #supplier="ngModel"
              [(ngModel)]="currentProduct.supplierId"
              class="form-select"
              [disabled]="isUpdating"
              [ngClass]="isProductInvalid.supplierId ? 'is-invalid' : ''"
              [ngClass]="currentProduct.supplierId != -1 ? 'is-valid' : ''"
            >
              <option value="-1" disabled>Seleccione un proveedor</option>
              <option
                value="{{ supplier.id }}"
                *ngFor="let supplier of suppliersList"
              >
                {{ supplier.brand }}
              </option>
            </select>
            <div
              class="form-text"
              *ngIf="
                isProductInvalid.supplierId && currentProduct.supplierId == -1
              "
            >
              <p>Debe seleccionar una opción.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Categoría <span class="fw-light">*</span></label
            >
            <div class="row">
              <div class="col-11">
                <select
                  name="category"
                  #category="ngModel"
                  [(ngModel)]="currentProduct.categoryId"
                  class="form-select"
                  [ngClass]="isProductInvalid.category ? 'is-invalid' : ''"
                  [ngClass]="currentProduct.categoryId != -1 ? 'is-valid' : ''"
                >
                  <option disabled value="-1">Seleccione una opción</option>
                  <option
                    value="{{ category.id }}"
                    *ngFor="let category of categories"
                  >
                    {{ category.name }}
                  </option>
                </select>
              </div>
              <div class="col-1">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="createNewCategory()"
                >
                  <i class="bi bi-plus-circle"></i>
                </button>
              </div>
            </div>
            <div
              class="form-text"
              *ngIf="
                isProductInvalid.category && currentProduct.categoryId == -1
              "
            >
              <p>Debe seleccionar una opción.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Nombre <span class="fw-light">*</span></label
            >
            <input
              type="text"
              name="name"
              #name="ngModel"
              [(ngModel)]="currentProduct.name"
              required
              minlength="4"
              maxlength="40"
              [ngClass]="name.errors ? '' : 'is-valid'"
              [ngClass]="isProductInvalid.name ? 'is-invalid' : ''"
              class="form-control"
            />
            <div class="form-text" *ngIf="isProductInvalid.name && name.errors">
              <p>Debe tener entre 4 y 40 caracteres.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Descripción <span class="fw-light">*</span></label
            >
            <textarea
              name="description"
              #description="ngModel"
              [(ngModel)]="currentProduct.description"
              required
              [ngClass]="description.errors ? '' : 'is-valid'"
              [ngClass]="isProductInvalid.description ? 'is-invalid' : ''"
              class="form-control"
            ></textarea>
            <div
              class="form-text"
              *ngIf="isProductInvalid.description && description.errors"
            >
              <p>Debe tener entre 1 y 500 caracteres.</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-sm-8">
                <label class="form-label">Link de la imagen</label>
                <input
                  type="text"
                  name="picture"
                  #picture="ngModel"
                  [(ngModel)]="currentProduct.picture"
                  class="form-control"
                />
              </div>
              <div class="col">
                <label class="form-label"
                  >Precio <span class="fw-light">*</span></label
                >
                <input
                  type="number"
                  name="price"
                  #price="ngModel"
                  [(ngModel)]="currentProduct.price"
                  required
                  min="1"
                  max="999999999"
                  [ngClass]="price.errors ? '' : 'is-valid'"
                  [ngClass]="isProductInvalid.price ? 'is-invalid' : ''"
                  class="form-control"
                />
                <div
                  class="form-text"
                  *ngIf="isProductInvalid.price && price.errors"
                >
                  <p>Debe ser un número mayor de 0.</p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row m-4">
          <div class="col text-center">
            <button class="btn btn-secondary" type="submit">
              <span *ngIf="isUpdating">Actualizar Producto</span>
              <span *ngIf="!isUpdating">Cargar Producto</span>
            </button>
          </div>
        </div>
      </form>
    </article>
  </div>
  <div class="col d-none d-sm-block"></div>
</section>
<section>
  <shared-modal-message
    *ngIf="modalMessageFlag"
    [modalData]="modalMessageObject"
    (modalViewed)="hideModal()"
  >
  </shared-modal-message>
  <shared-modal-redirect
    *ngIf="modalRedirectFlag"
    [modalData]="modalRedirectObject"
  ></shared-modal-redirect>
  <app-modal-new
    *ngIf="isCreatingCategory"
    [currentCreate]="'category'"
  ></app-modal-new>
</section>
