<div class="container">
  <div class="row mt-3">
    <section class="col col-md-12"></section>
    <div class="col-md-6 h-100">
      <div class="card mb-3 h-100">
        <img
          src=" supplier?.urlLogo "
          (error)="handleImageError($event)"
          class="card-img-top"
          alt="Responsive image"
        />
        <div class="card-body">
          <div class="card-header" style="text-align: center">
            <strong> supplier?.nameSupplier </strong>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 h-100">
      <div class="card mb-3 h-100">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <div class="card-header">Datos del Proveedor:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong> Nombre Proveedor: </strong> supplier?.nameSupplier
                </p>
                <p class="card-text">
                  <strong> Código: </strong> supplier?.codeSupplier
                </p>
                <p class="card-text">
                  <strong>Rubro:</strong> supplier?.categorySupplier
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card-header">Datos Fiscales:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>CUIT:</strong> supplier?.cuitSupplier
                </p>
                <p class="card-text">
                  <strong>Condición AFIP:</strong>
                  supplier?.condicionAfipSupplier
                </p>
                <p class="card-text">
                  <strong>Dirección:</strong> supplier?.streetSupplier N°
                  supplier?.numSupplier
                </p>
                <p class="card-text">
                  <strong>País:</strong> supplier?.countrySupplier
                </p>
                <p class="card-text">
                  <strong>Provincia:</strong> supplier?.provinceSupplier
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="card-header">Datos de contacto:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>Email:</strong> supplier?.emailSupplier
                </p>
                <p class="card-text">
                  <strong>N° Tel:</strong> supplier?.telSupplier
                </p>
                <p class="card-text">
                  <strong>Sitio Web:</strong> supplier?.webSupplier
                </p>
              </div>
            </div>
            <div class="col">
              <div class="card-header">Información de contacto:</div>
              <div class="card-body">
                <p class="card-text">
                  <strong>Email:</strong> supplier?.emailcontactSupplier
                </p>
                <p class="card-text">
                  <strong>Teléfono:</strong> supplier?.telcontactSupplier
                </p>
                <p class="card-text">
                  <strong>Rol:</strong> supplier?.rolcontactSupplier
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        class="btn btn-success btn-m"
        routerLink="'/list-supplier', supplier?.idSupplier"
        style="margin-right: 5px"
      >
        Editar
      </button>
      <button
        type="button"
        class="btn btn-primary btn-m"
        routerLink="/list-supplier"
        style="margin-left: 5px"
      >
        Volver
      </button>
    </div>
  </div>
</div>
