<div class="container body py-4 px-3 rounded">
  <shared-items-list
    [listTemplate]="purchaseFields"
    [itemsArray$]="ordersList$"
    [hasPicture]="false"
    (deletedId)="deletePurchase($event)"
  ></shared-items-list>
</div>
<section>
  <shared-modal-confirm
    *ngIf="modalConfirmFlag"
    [modalData]="modalConfirmObject"
  ></shared-modal-confirm>
  <shared-modal-message
    *ngIf="modalMessageFlag"
    [modalData]="modalMessageObject"
    (modalViewed)="hideModal()"
  >
  </shared-modal-message>
</section>
