<section class="row">
  <div class="col d-none d-sm-block"></div>
  <div class="col col-sm-9 col-md-8 p-5 body">
    <article class="bg-light-subtle rounded p-4 pt-2">
      <div class="row">
        <div class="col">
          <a class="text-decoration-none" routerLink="/suppliers"
            >← Ir al listado</a
          >
        </div>
      </div>
      <form #myForm="ngForm" (ngSubmit)="savesupplier()">
        <fieldset class="px-4">
          <div class="text-center my-4">
            <h1 class="h3 title" *ngIf="!isUpdating">Cargar nuevo Proveedor</h1>
            <h1 class="h3 title" *ngIf="isUpdating">Editar Proveedor</h1>
          </div>
          <hr />
          <div class="mb-3">
            <label class="form-label"
              >Razón social <span class="fw-light">*</span></label
            >
            <input
              type="text"
              name="brand"
              #brand="ngModel"
              [(ngModel)]="currentsupplier.brand"
              required
              minlength="4"
              maxlength="60"
              [ngClass]="brand.errors ? '' : 'is-valid'"
              [ngClass]="issupplierInvalid.brand ? 'is-invalid' : ''"
              class="form-control"
            />
            <div
              class="form-text"
              *ngIf="issupplierInvalid.brand && brand.errors"
            >
              <p>Debe tener al menos 4 caracteres.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Rubro <span class="fw-light">*</span></label
            >
            <div class="row">
              <div class="col-11">
                <select
                  name="sector"
                  #sectorElement="ngModel"
                  [(ngModel)]="currentsupplier.sectorId"
                  class="form-select"
                  [ngClass]="issupplierInvalid.sector ? 'is-invalid' : ''"
                  [ngClass]="currentsupplier.sectorId != -1 ? 'is-valid' : ''"
                >
                  <option disabled value="-1">Seleccione una opción</option>
                  <option
                    value="{{ sector.id }}"
                    *ngFor="let sector of sectors"
                  >
                    {{ sector.name }}
                  </option>
                </select>
              </div>
              <div class="col-1">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  (click)="createNewSector()"
                >
                  <i class="bi bi-plus-circle"></i>
                </button>
              </div>
            </div>
            <div
              class="form-text"
              *ngIf="issupplierInvalid.sector && currentsupplier.sectorId == -1"
            >
              <p>Debe seleccionar una opción.</p>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-12 col-lg-6 mb-1">
              <label class="form-label"
                >Teléfono <span class="fw-light">*</span></label
              >
              <div class="row">
                <div class="col col-sm-5">
                  <select
                    name="supplier"
                    #supplier="ngModel"
                    [(ngModel)]="currentsupplier.phone.country"
                    class="form-select"
                  >
                    <option
                      value="{{ country.code }}"
                      *ngFor="let country of countryCodes"
                    >
                      +{{ country.code }} - {{ country.country }}
                    </option>
                  </select>
                </div>
                <div class="col">
                  <input
                    type="text"
                    name="companyPhone"
                    #companyPhone="ngModel"
                    [(ngModel)]="currentsupplier.phone.number"
                    required
                    minlength="10"
                    maxlength="13"
                    [ngClass]="companyPhone.errors ? '' : 'is-valid'"
                    [ngClass]="issupplierInvalid.phone ? 'is-invalid' : ''"
                    class="form-control"
                  />
                </div>
              </div>
              <div
                class="form-text"
                *ngIf="issupplierInvalid.phone && companyPhone.errors"
              >
                <p>Ingrese el código de país y luego el número de teléfono.</p>
              </div>
            </div>
            <div class="col col-lg-6">
              <label class="form-label"
                >Sitio web <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="web"
                #web="ngModel"
                [(ngModel)]="currentsupplier.web"
                required
                minlength="4"
                maxlength="60"
                [ngClass]="web.errors ? '' : 'is-valid'"
                [ngClass]="issupplierInvalid.web ? 'is-invalid' : ''"
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.web && web.errors"
              >
                <p>Debe tener al menos 4 caracteres.</p>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="px-4">
          <div class="row mb-1">
            <div class="col-12 col-lg-7">
              <label class="form-label"
                >Dirección <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="address"
                #address="ngModel"
                [(ngModel)]="currentsupplier.fullAddress.address"
                required
                minlength="4"
                maxlength="60"
                [ngClass]="address.errors ? '' : 'is-valid'"
                [ngClass]="
                  issupplierInvalid.fullAddressAddress ? 'is-invalid' : ''
                "
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.fullAddressAddress && address.errors"
              >
                <p>Debe tener al menos 4 caracteres.</p>
              </div>
            </div>
            <div class="col col-lg-2">
              <label class="form-label"
                >Número <span class="fw-light">*</span></label
              >
              <input
                type="number"
                name="addressNumber"
                #addressNumber="ngModel"
                [(ngModel)]="currentsupplier.fullAddress.addressNumber"
                required
                [ngClass]="addressNumber.errors ? '' : 'is-valid'"
                [ngClass]="
                  issupplierInvalid.fullAddressAddressNumber ? 'is-invalid' : ''
                "
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="
                  issupplierInvalid.fullAddressAddressNumber &&
                  addressNumber.errors
                "
              >
                <p>Debe ingresar un número positivo.</p>
              </div>
            </div>
            <div class="col col-lg-3">
              <label class="form-label"
                >Código postal <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="zipCode"
                #zipCode="ngModel"
                [(ngModel)]="currentsupplier.fullAddress.zipCode"
                required
                minlength="3"
                maxlength="8"
                [ngClass]="zipCode.errors ? '' : 'is-valid'"
                [ngClass]="issupplierInvalid.fullAddressZIP ? 'is-invalid' : ''"
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.fullAddressZIP && zipCode.errors"
              >
                <p>Debe ingresar un código postal válido.</p>
              </div>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-6 col-md-4">
              <label class="form-label"
                >País <span class="fw-light">*</span></label
              >
              <select
                name="country"
                #country="ngModel"
                [(ngModel)]="selectedCountry"
                class="form-select"
                (change)="currentsupplier.fullAddress.provinceId = -1"
              >
                <option value="-1" disabled>Seleccione un pais</option>
                <option
                  value="{{ country.countryId }}"
                  *ngFor="let country of locationOptions"
                >
                  {{ country.countryName }}
                </option>
              </select>
            </div>
            <div class="col-6 col-md-4">
              <label class="form-label"
                >Provincia <span class="fw-light">*</span></label
              >
              <select
                name="province"
                #province="ngModel"
                [(ngModel)]="currentsupplier.fullAddress.provinceId"
                class="form-select"
              >
                <option value="-1" disabled>Seleccione una provincia</option>
                <option
                  value="{{ province.id }}"
                  *ngFor="let province of getProvinces(selectedCountry)"
                >
                  {{ province.name }}
                </option>
              </select>
            </div>
            <div class="col">
              <label class="form-label"
                >Localidad <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="city"
                #city="ngModel"
                [(ngModel)]="currentsupplier.fullAddress.city"
                required
                minlength="4"
                maxlength="60"
                [ngClass]="city.errors ? '' : 'is-valid'"
                [ngClass]="
                  issupplierInvalid.fullAddressCity ? 'is-invalid' : ''
                "
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.fullAddressCity && city.errors"
              >
                <p>Debe tener al menos 4 caracteres.</p>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="px-4 mt-3">
          <div
            class="row mb-1 d-flex"
            [ngClass]="
              issupplierInvalid.cuit || cuitExistFlag
                ? 'align-items-start'
                : 'align-items-end'
            "
          >
            <div class="col-12 col-sm-5">
              <label class="form-label"
                >CUIT <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="cuit"
                #cuit="ngModel"
                [(ngModel)]="currentsupplier.cuit"
                required
                minlength="11"
                maxlength="13"
                [ngClass]="validateCuitInput(cuit) ? 'is-valid' : ''"
                [ngClass]="
                  issupplierInvalid.cuit || cuitExistFlag ? 'is-invalid' : ''
                "
                placeholder="00-00000000-0"
                class="form-control"
                [disabled]="isUpdating"
                (keyup)="onKeyPressCuit()"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.cuit && !validateCuitInput(cuit)"
              >
                <p>Debe tener 11 números y no contener letras ni guiones.</p>
              </div>
              <div class="form-text" *ngIf="cuitExistFlag">
                <p>El CUIT ingresado ya existe en la base de datos.</p>
              </div>
            </div>
            <div class="col-12 col-sm-7">
              <label class="form-label"
                >Condición fiscal <span class="fw-light">*</span></label
              >
              <select
                class="form-select"
                name="fiscalCondition"
                aria-label="Condición fiscal"
                [(ngModel)]="currentsupplier.fiscalConditionId"
                [ngClass]="
                  issupplierInvalid.fiscalCondition ? 'is-invalid' : ''
                "
              >
                <option value="Otro" disabled>Seleccione una opción</option>
                <option
                  value="{{ fiscalCond.id }}"
                  *ngFor="let fiscalCond of fiscalConditions"
                >
                  {{ fiscalCond.name }}
                </option>
              </select>
              <div class="form-text" *ngIf="issupplierInvalid.iva">
                <p>Debe seleccionar una opción.</p>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset class="px-4">
          <div class="text-center my-4">
            <p class="h5 text-body-secondary">Datos de contacto</p>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <label class="form-label"
                >Nombre <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="name"
                #name="ngModel"
                [(ngModel)]="currentsupplier.contact.name"
                required
                minlength="4"
                maxlength="30"
                [ngClass]="name.errors ? '' : 'is-valid'"
                [ngClass]="issupplierInvalid.contactName ? 'is-invalid' : ''"
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.contactName && name.errors"
              >
                <p>Debe tener al menos 4 caracteres.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <label class="form-label"
                >Apellido <span class="fw-light">*</span></label
              >
              <input
                type="text"
                name="surname"
                #surname="ngModel"
                [(ngModel)]="currentsupplier.contact.surname"
                required
                minlength="4"
                maxlength="30"
                [ngClass]="surname.errors ? '' : 'is-valid'"
                [ngClass]="issupplierInvalid.contactSurname ? 'is-invalid' : ''"
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="issupplierInvalid.contactSurname && surname.errors"
              >
                <p>Debe tener al menos 4 caracteres.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 mb-1">
              <label class="form-label"
                >Teléfono <span class="fw-light">*</span></label
              >
              <div class="row">
                <div class="col col-sm-5">
                  <select
                    name="supplier"
                    #supplier="ngModel"
                    [(ngModel)]="currentsupplier.contact.phone.country"
                    class="form-select"
                  >
                    <option
                      *ngFor="let country of countryCodes"
                      value="{{ country.code }}"
                    >
                      +{{ country.code }} - {{ country.country }}
                    </option>
                  </select>
                </div>
                <div class="col col-sm-7">
                  <input
                    type="text"
                    name="contactPhone"
                    #contactPhone="ngModel"
                    [(ngModel)]="currentsupplier.contact.phone.number"
                    required
                    minlength="10"
                    maxlength="13"
                    [ngClass]="contactPhone.errors ? '' : 'is-valid'"
                    [ngClass]="
                      issupplierInvalid.contactPhone ? 'is-invalid' : ''
                    "
                    class="form-control"
                  />
                </div>
              </div>
              <div
                class="form-text"
                *ngIf="issupplierInvalid.contactPhone && contactPhone.errors"
              >
                <p>Ingrese el código de país y luego el número de teléfono.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 mb-1">
              <label class="form-label"
                >Email <span class="fw-light">*</span></label
              >
              <input
                type="email"
                name="mail"
                #mail="ngModel"
                [(ngModel)]="currentsupplier.contact.mail"
                required
                minlength="4"
                maxlength="40"
                [ngClass]="validateMailInput(mail) ? 'is-valid' : ''"
                [ngClass]="issupplierInvalid.contactMail ? 'is-invalid' : ''"
                class="form-control"
              />
              <div
                class="form-text"
                *ngIf="
                  issupplierInvalid.contactMail && !validateMailInput(mail)
                "
              >
                <p>Por favor introduzca una dirección de correo válida.</p>
              </div>
            </div>
          </div>
          <div class="mb-1">
            <label class="form-label"
              >Rol <span class="fw-light">*</span></label
            >
            <input
              type="text"
              name="rol"
              #rol="ngModel"
              [(ngModel)]="currentsupplier.contact.rol"
              required
              minlength="4"
              maxlength="40"
              [ngClass]="rol.errors ? '' : 'is-valid'"
              [ngClass]="issupplierInvalid.contactRol ? 'is-invalid' : ''"
              class="form-control"
            />
            <div
              class="form-text"
              *ngIf="issupplierInvalid.contactRol && rol.errors"
            >
              <p>Debe tener al menos 4 caracteres.</p>
            </div>
          </div>
        </fieldset>
        <div class="row m-4">
          <div class="col text-center">
            <button class="btn btn-secondary me-1 my-2" type="submit">
              <span *ngIf="isUpdating">Editar Proveedor</span>
              <span *ngIf="!isUpdating">Cargar Proveedor</span>
            </button>
            <button
              class="btn btn-secondary ms-1"
              type="reset"
              *ngIf="!isUpdating"
            >
              Limpiar Campos
            </button>
          </div>
        </div>
      </form>
    </article>
  </div>
  <div class="col d-none d-sm-block"></div>
</section>
<section>
  <shared-modal-redirect
    *ngIf="modalRedirectFlag"
    [modalData]="modalRedirectObject"
  ></shared-modal-redirect>
  <shared-modal-redirect
    *ngIf="flagNewsupplierCreated"
    [modalData]="{
      message: 'Proveedor cargado con éxito.',
      path: '/suppliers'
    }"
  ></shared-modal-redirect>
  <shared-modal-message
    *ngIf="modalMessageFlag"
    [modalData]="modalMessageObject"
    (modalViewed)="hideModal()"
  >
  </shared-modal-message>
  <app-modal-new
    *ngIf="isCreatingSector"
    [currentCreate]="'sector'"
  ></app-modal-new>
</section>
