#not-found-main {
    background-image: url("../../../assets/main-background.jpg");
    background-size: 100%;
    background-size: cover;
    color: var(--color-accent);
}

h1 {
    font-size: 5em;
}