<section class="row">
  <div class="col d-none d-sm-block"></div>
  <div class="col col-sm-9 col-md-8 p-5 body">
    <article class="bg-light-subtle rounded p-4">
      <form #myForm="ngForm" (ngSubmit)="saveProduct()">
        <fieldset class="px-4">
          <div class="text-center my-4">
            <h1 class="h3 title" *ngIf="!isUpdating">Cargar nuevo Producto</h1>
            <h1 class="h3 title" *ngIf="isUpdating">Actualizar Producto</h1>
          </div>
          <hr />
          <div class="mb-3">
            <label class="form-label"
              >Proveedor <span class="fw-light">*</span></label
            >
            <select
              name="suplier"
              #suplier="ngModel"
              [(ngModel)]="currentProduct.suplierId"
              class="form-select"
              [disabled]="isUpdating"
              [ngClass]="productValidator.suplierId ? 'is-invalid' : ''"
              [ngClass]="currentProduct.suplierId != -1 ? 'is-valid' : ''"
            >
              <option value="-1" disabled>Seleccione un proveedor</option>
              <option
                value="{{ suplier.id }}"
                *ngFor="let suplier of supliersList"
              >
                {{ suplier.brand }}
              </option>
            </select>
            <div
              class="form-text"
              *ngIf="
                productValidator.suplierId && currentProduct.suplierId == -1
              "
            >
              <p>Debe seleccionar una opción.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Categoría <span class="fw-light">*</span></label
            >
            <select
              name="category"
              #category="ngModel"
              [(ngModel)]="currentProduct.category"
              class="form-select"
              [ngClass]="productValidator.category ? 'is-invalid' : ''"
              [ngClass]="currentProduct.category != 'Otro' ? 'is-valid' : ''"
            >
              <option disabled value="Otro">Seleccione una opción</option>
              <option value="Celulares">Celulares</option>
              <option value="Laptops">Laptops</option>
              <option value="Pequeños">Pequeños</option>
              <option value="Periféricos">Periféricos</option>
              <option value="Audio">Audio</option>
            </select>
            <div
              class="form-text"
              *ngIf="
                productValidator.category && currentProduct.category == 'Otro'
              "
            >
              <p>Debe seleccionar una opción.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Nombre <span class="fw-light">*</span></label
            >
            <input
              type="text"
              name="name"
              #name="ngModel"
              [(ngModel)]="currentProduct.name"
              required
              minlength="4"
              maxlength="40"
              [ngClass]="name.errors ? '' : 'is-valid'"
              [ngClass]="productValidator.name ? 'is-invalid' : ''"
              class="form-control"
            />
            <div class="form-text" *ngIf="productValidator.name && name.errors">
              <p>Debe tener entre 4 y 40 caracteres.</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label"
              >Descripción <span class="fw-light">*</span></label
            >
            <textarea
              name="description"
              #description="ngModel"
              [(ngModel)]="currentProduct.description"
              required
              [ngClass]="description.errors ? '' : 'is-valid'"
              [ngClass]="productValidator.description ? 'is-invalid' : ''"
              class="form-control"
            ></textarea>
            <div
              class="form-text"
              *ngIf="productValidator.description && description.errors"
            >
              <p>Debe tener entre 1 y 500 caracteres.</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-12 col-sm-8">
                <label class="form-label">Link de la imagen</label>
                <input
                  type="text"
                  name="picture"
                  #picture="ngModel"
                  [(ngModel)]="currentProduct.picture"
                  class="form-control"
                />
              </div>
              <div class="col">
                <label class="form-label"
                  >Precio <span class="fw-light">*</span></label
                >
                <input
                  type="number"
                  name="price"
                  #price="ngModel"
                  [(ngModel)]="currentProduct.price"
                  required
                  min="1"
                  max="999999999"
                  [ngClass]="price.errors ? '' : 'is-valid'"
                  [ngClass]="productValidator.price ? 'is-invalid' : ''"
                  class="form-control"
                />
                <div
                  class="form-text"
                  *ngIf="productValidator.price && price.errors"
                >
                  <p>Debe ser un número mayor de 0.</p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="row m-4">
          <div class="col text-center">
            <button class="btn btn-secondary" type="submit">
              <span *ngIf="isUpdating">Actualizar Producto</span>
              <span *ngIf="!isUpdating">Cargar Producto</span>
            </button>
          </div>
        </div>
      </form>
    </article>
  </div>
  <div class="col d-none d-sm-block"></div>
</section>
<section>
  <shared-modal-redirect
    *ngIf="flagNewProductCreated"
    [modalData]="{ message: 'Producto cargado con éxito.', path: '/products' }"
  ></shared-modal-redirect>
  <shared-modal-message
    *ngIf="modalMessageFlag"
    [modalData]="modalMessageObject"
    (modalViewed)="hideModal()"
  >
  </shared-modal-message>
</section>
