<section class="row">
    <div class="col"></div>
    <div class="col-6">
        <div action="" class="form-control">
            <fieldset class="px-4">
                <div class="text-center my-4">
                    <p class="h3 text-body-secondary">Cargar nuevo Producto</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="product-suplier" class="form-label">Proveedor</label>
                    <select class="form-select" aria-label="Proveedor" [(ngModel)]="currentProduct.suplier">
                        <option value="Proveedor 1">Proveedor 1</option>
                        <option value="Proveedor 2">Proveedor 2</option>
                        <option value="Proveedor 3">Proveedor 3</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="product-category" class="form-label">Categoría</label>
                    <input type="text" class="form-control" [(ngModel)]="currentProduct.category">
                </div>
                <div class="mb-3">
                    <label for="product-name" class="form-label">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="currentProduct.name">
                </div>
                <div class="mb-3">
                    <label for="product-description" class="form-label">Descripción</label>
                    <textarea class="form-control" [(ngModel)]="currentProduct.description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="product-price" class="form-label">Precio</label>
                    <input type="number" class="form-control" [(ngModel)]="currentProduct.price">
                </div>
            </fieldset>
            <div class="row m-4">
                <div class="col text-center">
                    <button class="btn btn-secondary" id="confirm-create-product" (click)="saveProduct()" [disabled]="validateSubmit()" >Cargar Producto</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</section>

<shared-modal-saved *ngIf="flagNewProductCreated" [modalData]="{section: 'Producto', path: '/products'}"></shared-modal-saved>
