<div class="container-fluid">
    <div class="row py-2">
        <div class="col d-flex align-items-center">
            <p class="mb-0 ps-5 fs-5">© 2023 Alloatti Uriel</p>
        </div>
        <div class="col">
            <ul class="list-group list-group-flush d-flex flex-row justify-content-end">
                <li class="list-group-item bg-transparent">Terms</li>
                <li class="list-group-item bg-transparent">Privacy</li>
                <li class="list-group-item bg-transparent">Security</li>
            </ul>
        </div>
    </div>
</div>