<div class="container-fluid">
  <div class="row py-2">
    <div class="col d-flex align-items-center">
      <p class="mb-0 ps-5 fs-5">© 2023 Alloatti Uriel</p>
    </div>
    <div class="col">
      <ul
        class="list-group list-group-flush d-flex flex-row justify-content-end"
      >
        <li class="list-group-item bg-transparent">
          <a
            href="https://linkedin.com/in/uriel-alloatti"
            target="_blank"
            class="footer-link"
            >LinkedIn</a
          >
        </li>
        <li class="list-group-item bg-transparent">
          <a
            href="https://github.com/urialloatti"
            target="_blank"
            class="footer-link"
            >GitHub</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
