<section class="row">
    <div class="col"></div>
    <div class="col-6">
        <div action="" class="form-control">
            <fieldset class="px-4">
                <div class="text-center my-4">
                    <p class="h3 text-body-secondary">Cargar nuevo proveedor</p>
                </div>
                <hr>
                <div class="mb-3">
                    <label for="suplier-brand" class="form-label">Razón social</label>
                    <input type="text" class="form-control" id="suplier-brand">
                </div>
                <div class="mb-3">
                    <label for="suplier-category" class="form-label">Rubro</label>
                    <input type="text" class="form-control" id="suplier-category">
                </div>
                <div class="mb-3">
                    <label for="suplier-web" class="form-label">Sitio web</label>
                    <input type="text" class="form-control" id="suplier-web">
                </div>
            </fieldset>
            <fieldset class="px-4">
                <div class="row mb-1">
                    <div class="col">
                        <label for="suplier-address" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="suplier-address">
                    </div>
                    <div class="col-2">
                        <label for="suplier-address-number" class="form-label">Número</label>
                        <input type="text" class="form-control" id="suplier-address-number">
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col">
                        <label for="suplier-region" class="form-label">Localidad</label>
                        <input type="text" class="form-control" id="suplier-region">
                    </div>
                    <div class="col">
                        <label for="suplier-state" class="form-label">Provincia</label>
                        <input type="text" class="form-control" id="suplier-state">
                    </div>
                    <div class="col">
                        <label for="suplier-country" class="form-label">País</label>
                        <input type="text" class="form-control" id="suplier-country">
                    </div>
                </div>
            </fieldset>
            <fieldset class="px-4 mt-3">
                <div class="row mb-1">
                    <div class="col">
                        <label for="suplier-cuit" class="form-label">CUIT</label>
                        <input type="text" class="form-control" id="suplier-cuit" placeholder="00-00000000-0">
                    </div>
                    <div class="col">
                        <label for="suplier-iva" class="form-label">Condición frente al IVA</label>
                        <select class="form-select" aria-label="Condición IVA" id="suplier-iva">
                            <option value="0">IVA Responsable Inscripto</option>
                            <option value="1">IVA Sujeto Exento</option>
                            <option value="2">Responsable Monotributo</option>
                            <option value="3">Proveedor del Exterior</option>
                            <option value="4">Otro</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <fieldset class="px-4">
                <div class="text-center my-4">
                    <p class="h5 text-body-secondary">Datos de contacto</p>
                </div>
                <div class="row">
                    <div class="col-6 mb-1">
                        <label for="suplier-name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="suplier-name">
                    </div>
                    <div class="col-6 mb-1">
                        <label for="suplier-surname" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="suplier-surname">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-1">
                        <label for="suplier-phone" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="suplier-phone">
                    </div>
                    <div class="col-6 mb-1">
                        <label for="suplier-mail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="suplier-mail">
                    </div>
                </div>
                <div class="mb-1">
                    <label for="suplier-rol" class="form-label">Rol</label>
                    <input type="text" class="form-control" id="suplier-rol">
                </div>
            </fieldset>
            <div class="row m-4">
                <div class="col text-center">
                    <button class="btn btn-secondary" (click)="saveNewSuplier()">Cargar Proveedor</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</section>

<shared-modal-saved *ngIf="flagNewSuplierCreated" [modalData]="{section: 'Proveedor', path: '/supliers'}"></shared-modal-saved>