<div class="container body py-4 px-4 rounded">
  <section
    class="row d-flex"
    [ngClass]="
      isUpdating ? 'justify-content-center' : 'justify-content-between'
    "
  >
    <div class="col-12 col-md-6 mt-3" *ngIf="!isUpdating">
      <article class="bg-light-subtle rounded p-4">
        <form #productForm="ngForm" (ngSubmit)="addProduct()">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="h3 title">Añadir productos</h2>
            </div>
          </div>
          <div class="mb-1">
            <label for="suppliers-list" class="form-label">Proveedor</label>
            <select
              name="supplier"
              #supplier="ngModel"
              [(ngModel)]="currentPurchaseOrder.supplierId"
              class="form-select"
              [disabled]="issupplierSelected"
              (change)="getsupplierProducts(currentPurchaseOrder.supplierId)"
            >
              <option value="-1" disabled>Seleccione un proveedor</option>
              <option
                *ngFor="let supplier of suppliersList"
                value="{{ supplier.id }}"
              >
                {{ supplier.brand }}
              </option>
            </select>
          </div>
          <div class="mb-2">
            <label for="product-list" class="form-label">Producto</label>
            <select
              name="product"
              #product="ngModel"
              [(ngModel)]="currentProduct.productId"
              class="form-select"
              [disabled]="isUpdating"
              (change)="getProductPrice(currentProduct.productId)"
              *ngIf="supplierProducts.length > 0"
            >
              <option value="-1" disabled>Seleccione un producto</option>
              <option
                *ngFor="let productAdd of supplierProducts"
                value="{{ productAdd.id }}"
              >
                {{ productAdd.name }}
              </option>
            </select>
            <div
              class="form-text"
              *ngIf="
                supplierProducts.length == 0 &&
                currentPurchaseOrder.supplierId != -1
              "
            >
              <p>No hay productos para el proveedor seleccionado.</p>
            </div>
            <div
              class="form-text"
              *ngIf="currentPurchaseOrder.supplierId == -1"
            >
              <p>Debe seleccionar un proveedor.</p>
            </div>
            <div
              class="form-text"
              *ngIf="currentPurchaseOrder.supplierId != -1 && isProductEmpty"
            >
              <p>Debe seleccionar al menos un producto.</p>
            </div>
          </div>
          <div class="mb-3">
            <div class="row justify-content-around mb-3">
              <div class="col-4">
                <label for="product-price" class="form-label"
                  >Precio Unitario</label
                >
                <input
                  type="number"
                  class="form-control"
                  [(ngModel)]="currentProduct.price"
                  disabled
                  [ngModelOptions]="{ standalone: true }"
                />
              </div>
              <div class="col-4">
                <label for="product-quantity" class="form-label"
                  >Cantidad</label
                >
                <input
                  type="number"
                  name="quantity"
                  [(ngModel)]="currentProduct.productQuantity"
                  #quantity="ngModel"
                  min="1"
                  [disabled]="isUpdating"
                  [ngClass]="quantity.errors ? 'is-invalid' : ''"
                  class="form-control"
                />
                <div class="form-text" *ngIf="isProductQuantityInvalid">
                  <p>Debe ser un número mayor de 0.</p>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row justify-content-center">
            <div class="col-6 text-center">
              <button
                class="btn btn-secondary"
                type="submit"
                [disabled]="isUpdating"
              >
                Cargar Producto
              </button>
            </div>
          </div>
        </form>
        <div class="row m-4 py-2 body rounded" *ngIf="isProductAdded">
          <div class="col"></div>
          <div
            class="col-8 rounded text-center py-2 align-middle"
            id="product-added"
          >
            <p class="my-0">Producto añadido con éxito!</p>
          </div>
          <div class="col"></div>
        </div>
      </article>
    </div>
    <div class="mt-3" [ngClass]="isUpdating ? 'col-8' : 'col-12 col-md-6'">
      <article class="bg-light-subtle rounded p-4">
        <form #purchaseForm="ngForm" (ngSubmit)="savePurchase()">
          <fieldset class="px-4">
            <div class="text-center my-4">
              <h1 class="h3 title" *ngIf="!isUpdating">
                Nueva órden de compra
              </h1>
              <h1 class="h3 title" *ngIf="isUpdating">
                Actualizar órden de compra
              </h1>
            </div>
            <hr />
            <div class="mb-3">
              <div class="row">
                <div class="col">
                  <label class="form-label">Fecha emisión</label>
                  <input
                    type="date"
                    name="createdAt"
                    #createdAt="ngModel"
                    [(ngModel)]="currentPurchaseOrder.createdAt"
                    class="form-control"
                    disabled
                  />
                </div>
                <div class="col">
                  <label class="form-label">Fecha entrega</label>
                  <input
                    type="date"
                    name="dateArriving"
                    #dateArriving="ngModel"
                    [(ngModel)]="currentPurchaseOrder.dateArriving"
                    class="form-control"
                    [min]="getMinDateShippingTemplate()"
                  />
                  <div class="form-text" *ngIf="isDateInvalid">
                    <p>Debe seleccionar una fecha de entrega válida.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Aclaraciones</label>
              <textarea
                name="shipping-requirement"
                class="form-control"
                #shippingRequirements="ngModel"
                [(ngModel)]="currentPurchaseOrder.shippingRequirements"
                minlength="1"
                maxlength="500"
              ></textarea>
              <div class="form-text" *ngIf="isDescriptionInvalid">
                <p>Debe tener entre 1 y 500 caracteres.</p>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col">
                <p>Productos</p>
              </div>
              <div class="col text-end">
                <p>Precio</p>
              </div>
              <div
                class="col-1"
                *ngIf="currentPurchaseOrder.products.length > 0 && !isUpdating"
              >
                <p>...</p>
              </div>
            </div>
            <div class="row">
              <div class="col" id="current-order"></div>
            </div>
            <div class="row mt-3">
              <div class="col">
                <div
                  class="row d-flex align-items-center mb-1"
                  *ngFor="let productView of currentPurchaseOrder.products"
                >
                  <div class="col">
                    {{ productView.productName }} ({{
                      productView.productQuantity
                    }})
                  </div>
                  <div class="col text-end">
                    {{
                      productView.price! * productView.productQuantity
                        | currency : "USD"
                    }}
                  </div>
                  <div class="col-1" *ngIf="!isUpdating">
                    <button
                      class="btn btn-outline-secondary pt-0 px-1 d-flex align-items-center justify-content-center btn-cancel py-1"
                      (click)="removeItemFromCart(productView.productId)"
                    >
                      <span class="p-0">x</span>
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <p>Total</p>
                  </div>
                  <div class="col"><hr /></div>
                  <div class="col text-end" id="purchase-total">
                    <p>{{ currentPurchaseOrder.total | currency : "USD" }}</p>
                  </div>
                  <div
                    class="col-1"
                    *ngIf="
                      currentPurchaseOrder.products.length > 0 && !isUpdating
                    "
                  ></div>
                </div>
              </div>
              <div class="form-text" *ngIf="isCartEmpty">
                <p>Debe añadir al menos un producto.</p>
              </div>
            </div>
          </fieldset>
          <div class="row m-4">
            <div class="col text-center">
              <button class="btn btn-secondary me-1 my-2" type="submit">
                Confirmar compra
              </button>
            </div>
            <div class="col text-center" *ngIf="!isUpdating">
              <button
                class="btn btn-secondary ms-1 my-2"
                type="button"
                (click)="emptyCart()"
              >
                Eliminar productos
              </button>
            </div>
          </div>
        </form>
      </article>
    </div>
  </section>
  <section>
    <shared-modal-redirect
      *ngIf="flagNewPurchaseOrderCreated"
      [modalData]="{
        message: 'Órden de compra cargada con éxito.',
        path: '/purchase-orders'
      }"
    ></shared-modal-redirect>
    <shared-modal-message
      *ngIf="modalMessageFlag"
      [modalData]="modalMessageObject"
      (modalViewed)="hideModal()"
    >
    </shared-modal-message>
  </section>
</div>
