#product-added {
  background-color: var(--color-accent);
  color: var(--color-light);
}

.btn-cancel {
  height: 1.5em;
  width: 1.5em;
}

img {
  width: 5em;
  height: 4em;
  object-fit: cover;
  padding: 0.25em;
  border: 1px #ccc solid;
  background-color: var(--bg-light);
}
