header {
  position: sticky;
  top: 0px;
  background-color: var(--bg-dark);
  color: var(--color-light);
}

main {
  flex: 1 1 auto;
  background-color: var(--bg-light);
}

footer {
  background-color: var(--bg-accent);
  color: var(--color-accent);
}

#container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}
