<section *ngIf="itemsArray.length > 0">
  <table class="table table-striped table-hover rounded">
    <thead class="table-light">
      <tr>
        <th
          scope="col"
          class="text-center"
          *ngFor="let headers of listTemplate.listFields"
        >
          {{ headers.field }}
        </th>
        <th scope="col" class="text-center last-column">
          <i class="bi bi-gear-fill"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemsArray">
        <td *ngFor="let field of listTemplate.listFields">
          <span *ngFor="let keyV of field.keys; index as i"
            >{{ item[keyV.key] | tableTransform : keyV.extras }}
            <span *ngIf="i < field.keys.length - 1"> | </span>
          </span>
        </td>
        <td class="d-flex justify-content-end py-2 last-column">
          <span class="mx-1 bg-transparent">
            <button class="btn btn-secondary pb-2" routerLink="{{ item.id }}">
              <i class="bi bi-box-arrow-in-up-right"></i>
            </button>
          </span>
          <span class="mx-1 bg-transparent">
            <button class="btn btn-secondary pb-2" routerLink="u/{{ item.id }}">
              <i class="bi bi-pencil-square"></i>
            </button>
          </span>
          <span class="mx-1 bg-transparent">
            <button
              class="btn btn-secondary pb-2"
              (click)="deleteElement(item.id)"
            >
              <i class="bi bi-trash3"></i>
            </button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section *ngIf="itemsArray.length == 0">
  <shared-no-items-alert
    alerLabel="{{ listTemplate.label }}"
  ></shared-no-items-alert>
</section>
<div class="row">
  <div class="col"></div>
  <div class="col text-center">
    <a routerLink="new">
      <button class="btn btn-secondary">Cargar {{ listTemplate.label }}</button>
    </a>
  </div>
  <div class="col"></div>
</div>
