<div class="modal" tabindex="-1" id="modal-box">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content modal-content-bg">
      <div
        class="modal-header justify-content-center text-center modal-header-bg"
      >
        <h1 class="modal-title fs-5">{{ modalData.message }}</h1>
      </div>
      <div class="modal-footer d-flex justify-content-center pt-4">
        <button
          type="button"
          class="btn btn-secondary"
          [routerLink]="modalData.path"
        >
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal-backdrop fade show"
  id="modal-backdrop"
  [routerLink]="modalData.path"
></div>
