<div class="container bg-body-secondary py-4 px-3">
    <section [ngClass]="(producsArray.length > 0)? 'd-block': 'd-none'">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Precio</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of producsArray" class="pt-3">
                    <th scope="row">{{ product.code }}</th>
                    <td class="h3">{{ product.name }}</td>
                    <td class="pt-3">{{ product.suplier }}</td>
                    <td class="pt-3">{{ product.category }}</td>
                    <td class="pt-3">${{ product.price }}</td>
                    <td class="d-flex justify-content-end py-2">
                    <!-- <span class="mx-1 bg-transparent">
                        <button class="btn btn-secondary pb-2">
                            <i class="bi bi-box-arrow-in-up-right"></i>
                        </button>
                    </span> -->
                        <span class="mx-1 bg-transparent">
                            <button class="btn btn-secondary pb-2 btn-update-suplier"
                                [routerLink]="'supliers/' + product.code">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </span>
                        <span class="mx-1 bg-transparent">
                            <button class="btn btn-secondary pb-2 btn-del-suplier"
                                (click)="deleteProduct(product.code)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
    <section [ngClass]="(producsArray.length > 0)? 'd-none': 'd-block'">
        <div class="row m-4 py-4 bg-body-tertiary">
            <div class="col"></div>
            <div class="col-8 bg-warning-subtle rounded text-center py-5">
                <p class="h3 text-warning-emphasis">No hay productos para mostrar</p>
            </div>
            <div class="col"></div>
        </div>
    </section>
    <div class="row">
        <div class="col"></div>
        <div class="col text-center">
            <a routerLink="new">
                <button class="btn btn-secondary">Cargar productos</button>
            </a>
        </div>
        <div class="col"></div>
    </div>
</div>